
/* Global */
body {
    background-color: #FF5964;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Modal */
.modal {
    background-color: #FFFFFF;
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(.7);
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    z-index: 1000;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-out;
}

.btn__modal {
    text-align: right;
    padding: 0 1.5rem;
    font-size: 4rem;
    position: absolute;
    right: 0;
    cursor: pointer;

}

.modal__content {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: center;
    position: absolute;
    top: 40%;
    font-size: 4rem;
}

.modal__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200,.4);
    opacity: 0;
    visibility: hidden;
}


/* Main Page */

.main {
    width: 100vw;
    height: 100vwh;
}

.btn__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}